# Diretorios retirados do git

bower_components/
bootstrap/
font-awesome/

backend/lib
backend/local
backend/pip-selfcheck.json
backend/*.pyc

backend/server/*.pyc
backend/server/configuration/*.pyc
backend/server/database/*.pyc
backend/server/handlers/*.pyc
backend/utils/*.pyc

*.pyc
