<!doctype html>

<html ng-app="appCliente">
	<head>
		<title>Contabil - Clientes</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<link rel="icon" type="image/png" href="favicon.png" />

		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="styleSheet" type="text/css" href="bower_components/angular-ui-grid/ui-grid.min.css"/>
		<link rel="styleSheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css"/>
		<link rel="styleSheet" type="text/css" href="bower_components/sweetalert/dist/sweetalert.css"/>
		<link rel="stylesheet" type="text/css" href="site.css">

		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-ui-grid/ui-grid.min.js"></script>
		<script src="bower_components/jquery/dist/jquery.min.js"></script>    
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
		<script src='bower_components/ngMask/dist/ngMask.min.js'></script>

    	<script src="appCliente.js"></script>

	</head>

	<body ng-controller="ctlCliente">

		<header>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
					<a class="navbar-brand">Sistema Contabil - DRE</a>
					</div>
					<ul class="nav navbar-nav">
					<li><a href="#" ng-click="appUsuario()">Usuarios</a></li>
					<li class="active"><a href="#">Clientes</a></li>
					<li><a href="#" ng-click="appEmpresa()">Empresas</a></li>
					<li><a href="#" ng-click="appParametro()">Parametros</a></li>
					<li><a href="#" ng-click="appPlano()">Plano Contas</a></li>
					<li><a href="#" ng-click="appLancamento()">Lancamentos</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
					<li><a href="#" ng-click="logout()" ><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
					</ul>
				</div>
			</nav>
		</header>

		<main>
			<div class="container">
			<h2>Cadastro de Clientes</h2><br>

			<form>
				<div class="form-group">
						<label for="codigo">Codigo</label>
						<input type="text" maxlength="10" ng-model="cliente.idcliente" class="form-control hint" id="codigo" ng-readonly="true" disabled>
				</div>
				<div class="form-group">
						<label for="nome">Nome</label>
						<input type="text" maxlength="50" ng-model="cliente.nome" class="form-control hint" id="nome" data-toggle="tooltip" title="Informe o Nome" placeholder="Digite nome">
				</div>
				<div class="form-group">
						<label for="endereco">Endereco</label>
						<input type="text" maxlength="50" ng-model="cliente.endereco" class="form-control hint" id="nome" data-toggle="tooltip" title="Informe o Endereco" placeholder="Digite Endereco">
				</div>
				<div class="form-inline .col-md-6">
					<div class="form-group">
							<label for="fonecomercial">Fone Comercial</label>
							<input type="text" maxlength="20" mask="(99) 9?9999-9999" ng-model="cliente.fonecomercial" class="form-control hint" id="fone" data-toggle="tooltip" title="Informe o Telefone" placeholder="Digite telefone">
					</div>
					<div class="form-group">
							<label for="foneresidencial">Fone Residencial</label>
							<input type="text" maxlength="20" mask="(99) 9?9999-9999" ng-model="cliente.foneresidencial" class="form-control hint" id="fone" data-toggle="tooltip" title="Informe o Telefone" placeholder="Digite telefone">
					</div>
				</div>
				<br>
				<button type="button" ng-click="novo()" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Novo</button>
				<button type="button" ng-click="gravar(cliente)" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Gravar</button>
			</form>
				<br>
			<div>
				<div ui-grid="gridOptions" ui-grid-cellNav ui-grid-resize-columns ui-grid-edit ui-grid-selection class="telagrid" ></div>
			</div>

			</div>
		</main>
		<footer>
			  <div htmlversao></div>
		</footer>		

	</body>
</html>
