<!doctype html>

<html ng-app="appEmpresa">
	<head>
		<title>Contabil - Empresas</title>

		<meta charset="UTF-8">
		<link rel="icon" type="image/png" href="favicon.png" />
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="styleSheet" type="text/css" href="bower_components/angular-ui-grid/ui-grid.min.css"/>
    	<link rel="stylesheet" type="text/css" href="site.css">

		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-ui-grid/ui-grid.min.js"></script>
		<script src="bower_components/jquery/dist/jquery.min.js"></script>    
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    	<script src="appEmpresa.js"></script>

	</head>

	<body ng-controller="ctlEmpresa">

		<header>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
					<a class="navbar-brand">Sistema Contabil - DRE</a>
					</div>
					<ul class="nav navbar-nav">
					<li><a href="#" ng-click="appUsuario()">Usuarios</a></li>
					<li><a href="#" ng-click="appCliente()">Clientes</a></li>
					<li class="active"><a href="#">Empresas</a></li>
					<li><a href="#" ng-click="appParametro()">Parametros</a></li>
					<li><a href="#" ng-click="appPlano()">Plano Contas</a></li>
					<li><a href="#" ng-click="appLancamento()">Lancamentos</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
					<li><a href="#" ng-click="logout()" ><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
					</ul>
				</div>
			</nav>
		</header>

		<main>
			<div class="container">
			<h2>Cadastro de Empresas</h2><br>

			</div>
		</main>

	</body>
</html>
