<!doctype html>

<html ng-app="appLancamento">
	<head>
		<title>Contabil - Lancamentos</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<link rel="icon" type="image/png" href="favicon.png" />

		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="styleSheet" type="text/css" href="bower_components/angular-ui-grid/ui-grid.min.css"/>
		<link rel="styleSheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css"/>
		<link rel="styleSheet" type="text/css" href="bower_components/sweetalert/dist/sweetalert.css"/>
		<link rel="stylesheet" type="text/css" href="site.css">

		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-ui-grid/ui-grid.min.js"></script>
		<script src="bower_components/jquery/dist/jquery.min.js"></script>    
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
		<script src='bower_components/ngMask/dist/ngMask.min.js'></script>

    	<script src="app/appLancamento.js"></script>
    	<script src="app/appConfig.js"></script>
        <script src="app/jquery.maskMoney.js"></script>		

	</head>

	<body ng-controller="ctlLancamento">

		<header>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
					<a class="navbar-brand">Sistema Contabil - DRE</a>
					</div>
					<ul class="nav navbar-nav">
					<li><a href="#" ng-click="appUsuario()">Usuarios</a></li>
					<li><a href="#" ng-click="appCliente()">Clientes</a></li>
					<li><a href="#" ng-click="appEmpresa()">Empresas</a></li>
					<li><a href="#" ng-click="appParametro()">Parametros</a></li>
					<li><a href="#" ng-click="appPlano()">Plano Contas</a></li>
					<li class="active"><a href="#">Lançamentos</a></li>
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    Relatórios<span class="caret"></span>
					  </a>
					  <ul class="dropdown-menu" >
					    <li><a href="#">P.E. 2016 Oficial</a></li>
					    <li><a href="#">DRE 2016 Sintética</a></li>
					    <li><a href="#">DRE 2015 Sintética</a></li>
					    <li><a href="#">DRE 2016 Trimestral</a></li>
					    <li><a href="#">DRE 2015 Trimestral</a></li>
					    <li><a href="#">DRE Sintetico 2016x2015</a></li>
					    <li><a href="#">Faturamento por Linha</a></li>
					    <li><a href="#">Preço Medio por Linha</a></li>
					  </ul>
					</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
					<li><a>Usuario: {{login.username}}</a></li>						
					<li><a href="#" ng-click="logout()" ><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
					</ul>
				</div>
			</nav>
		</header>

		<main>
			<div class="container">
			<h2>Lançamentos</h2><br>

			<form>
				<div class="form-group">
						<label for="numero">Numero</label>
						<input type="text" maxlength="10" ng-model="lancamento.idlancamento" class="form-control hint" id="numero" ng-readonly="true" disabled>
				</div>
				<div class="form-group">
						<label for="idcliente">Cliente</label>
						<input type="text" maxlength="10" ng-model="lancamento.idcliente" class="form-control hint" id="idcliente" data-toggle="tooltip" title="Informe o Cliente" placeholder="Digite o Cliente">
				</div>
				<div class="form-group">
						<label for="ano">Ano</label>
						<input type="text" maxlength="4" ng-model="lancamento.ano" class="form-control hint" id="ano" data-toggle="tooltip" title="Informe o ano" placeholder="Digite o Ano">
				</div>
				<div class="form-group">
						<label for="mes">Mes</label>
						<select class="form-control hint" data-ng-options="x.mes for x in options" data-ng-model="selectedOption"  id="mes" data-toggle="tooltip" title="Informe o Mes"></select>					
				</div>
				<div class="form-group">
						<label for="idplano">Plano de Contas</label>
						<input type="text" maxlength="20" ng-model="lancamento.idplano" class="form-control hint" id="idplano" data-toggle="tooltip" title="Informe a conta" placeholder="Digite a conta">
				</div>
				<div class="form-group">
						<label for="valor">Valor</label>
						R$ <input type="text" maxlength="10" ng-model="lancamento.valor" class="form-control hint" id="valor" data-toggle="tooltip" title="Informe o valor" placeholder="Digite o Valor" >
				</div>
				
				<br>
				<button type="button" ng-click="novo()" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Novo</button>
				<button type="button" ng-click="gravar(lancamento)" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Gravar</button>
			</form>
				<br>
			<div>
				<div ui-grid="gridOptions" ui-grid-cellNav ui-grid-resize-columns ui-grid-edit ui-grid-selection class="telagrid" ></div>
			</div>

			</div>
		</main>

		<footer>
			  <div htmlversao></div>
		</footer>

	</body>
</html>
