<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand">Sistema Contabil - DRE</a>
        </div>
        <ul class="nav navbar-nav">
        <li><a href="#" ng-click="appMenu('usuario')">Usuarios</a></li>
        <li><a href="#" ng-click="appMenu('cliente')">Clientes</a></li>
        <li><a href="#" ng-click="appMenu('empresa')">Empresas</a></li>
        <li><a href="#" ng-click="appMenu('parametro')">Parametros</a></li>
        <li><a href="#" ng-click="appMenu('plano')">Plano Contas</a></li>
        <li><a href="#" ng-click="appMenu('lancamento')">Lançamentos</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Relatórios<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" >
            <li><a href="#" ng-click="appMenu('relpeoficial')">P.E. Oficial</a></li>
            <li><a href="#">DRE Sintética</a></li>
            <li><a href="#">DRE Trimestral</a></li>
            <li><a href="#">DRE Sintetico 2016x2015</a></li>
            <li><a href="#">Faturamento por Linha</a></li>
            <li><a href="#">Preço Medio por Linha</a></li>
            </ul>
        </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a>Usuario: {{login.username}}</a></li>							
        <li><a href="#" ng-click="appMenu('logout')" ><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>
