<!doctype html>

<html ng-app="appParametro">
	<head>
		<title>Contabil - Parametros</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<link rel="icon" type="image/png" href="favicon.png" />

		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="styleSheet" type="text/css" href="bower_components/angular-ui-grid/ui-grid.min.css"/>
		<link rel="styleSheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css"/>
		<link rel="styleSheet" type="text/css" href="bower_components/sweetalert/dist/sweetalert.css"/>
		<link rel="stylesheet" type="text/css" href="site.css">

		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-ui-grid/ui-grid.min.js"></script>
		<script src="bower_components/jquery/dist/jquery.min.js"></script>    
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
		<script src='bower_components/ngMask/dist/ngMask.min.js'></script>

    	<script src="app/appParametro.js"></script>
    	<script src="app/appConfig.js"></script>

	</head>

	<body ng-controller="ctlParametro">

		<header>
            <div htmlmenu></div>
		</header>

		<main>
			<div class="container">
			<h2>Cadastro de Parametros</h2><br>

			<form>
				<div class="form-group">
						<label for="codigo">Codigo</label>
						<input type="text" maxlength="10" ng-model="parametro.idparam" class="form-control hint" id="codigo" ng-readonly="true" disabled>
				</div>
				<div class="form-group">
						<label for="ano">Ano</label>
						<input type="text" maxlength="4" ng-model="parametro.ano" class="form-control hint" id="ano" data-toggle="tooltip" title="Informe o Ano" placeholder="Digite o ano">
				</div>
				<div class="form-group">
						<label for="mes">Mes</label>
						<select class="form-control hint" data-ng-options="x.mes for x in options" data-ng-model="selectedOption"  id="mes" data-toggle="tooltip" title="Informe o Mes"></select>					
				</div>
				<div class="form-group">
						<label for="idempresa">Empresa</label>
						<input type="text" maxlength="5" ng-model="parametro.idempresa" class="form-control hint" id="idempresa" data-toggle="tooltip" title="Informe a Empresa" placeholder="Digite a empresa">
				</div>
				<div class="form-group">
						<label for="diasuteis">Dias Uteis</label>
						<input type="text" maxlength="2" ng-model="parametro.diasuteis" class="form-control hint" id="diasuteis" data-toggle="tooltip" title="Informe dias uteis" placeholder="Digite dias uteis">
				</div>
				<div class="form-group">
						<label for="meddiafat">Média Diária de Faturamento</label>
						<input type="text" maxlength="2" ng-model="parametro.meddiafat" class="form-control hint" id="meddiafat" data-toggle="tooltip" title="Informe média diaria de faturamento" placeholder="Digite média diaria de faturamento">
				</div>
				
				<br>
				<button type="button" ng-click="novo()" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Novo</button>
				<button type="button" ng-click="gravar(parametro)" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Gravar</button>
			</form>
				<br>
			<div>
				<div ui-grid="gridOptions" ui-grid-cellNav ui-grid-resize-columns ui-grid-edit ui-grid-selection class="telagrid" ></div>
			</div>

			</div>
		</main>

		<footer>
			  <div htmlversao></div>
		</footer>		

	</body>
</html>
