<!doctype html>

<html ng-app="appPlano">
	<head>
		<title>Contabil - Plano de Contas</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<link rel="icon" type="image/png" href="favicon.png" />

		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="styleSheet" type="text/css" href="bower_components/angular-ui-grid/ui-grid.min.css"/>
		<link rel="styleSheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css"/>
		<link rel="styleSheet" type="text/css" href="bower_components/sweetalert/dist/sweetalert.css"/>
		<link rel="stylesheet" type="text/css" href="site.css">

		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-ui-grid/ui-grid.min.js"></script>
		<script src="bower_components/jquery/dist/jquery.min.js"></script>    
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
		<script src='bower_components/ngMask/dist/ngMask.min.js'></script>

    	<script src="app/appPlano.js"></script>
    	<script src="app/appConfig.js"></script>

	</head>

	<body ng-controller="ctlPlano">

		<header>
            <div htmlmenu></div>
		</header>

		<main>
			<div class="container">
			<h2>Cadastro Plano de Contas</h2><br>

			<form>
				<div class="form-group">
						<label for="numero">Numero</label>
						<input type="text" maxlength="10" ng-model="plano.idplano" class="form-control hint" id="numero" ng-readonly="true" disabled>
				</div>
				<div class="form-group">
						<label for="codigo">Codigo</label>
						<input type="text" maxlength="20" mask="99.99.99.999.99999" ng-model="plano.codigo" class="form-control hint" id="codigo" data-toggle="tooltip" title="Informe Codigo da Conta" placeholder="Digite o Codigo da Conta">
				</div>
				<div class="form-group">
						<label for="descricao">Descrição</label>
						<input type="text" maxlength="100" ng-model="plano.descricao" class="form-control hint" id="descricao" data-toggle="tooltip" title="Informe a Descrição" placeholder="Digite a Descrição">
				</div>
				<div class="form-group">
						<label for="tipocd">Debito/Credito</label>
						<select class="form-control hint" data-ng-options="x.tipocd for x in options" data-ng-model="selectedOption"  id="tipocd" data-toggle="tooltip" title="Informe Debito/Credito"></select>					
				</div>
				
				<br>
				<button type="button" ng-click="novo()" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Novo</button>
				<button type="button" ng-click="gravar(plano)" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Gravar</button>
			</form>
				<br>
			<div>
				<div ui-grid="gridOptions" ui-grid-cellNav ui-grid-resize-columns ui-grid-edit ui-grid-selection class="telagrid" ></div>
			</div>

			</div>
		</main>
		
		<footer>
			  <div htmlversao></div>
		</footer>	
	</body>
</html>
