<!doctype html>

<html ng-app="appPeoficial">
	<head>
		<title>Contabil - P.E. Oficial</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<link rel="icon" type="image/png" href="favicon.png" />

		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="styleSheet" type="text/css" href="bower_components/angular-ui-grid/ui-grid.min.css"/>
		<link rel="styleSheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css"/>
		<link rel="styleSheet" type="text/css" href="bower_components/sweetalert/dist/sweetalert.css"/>
		<link rel="stylesheet" type="text/css" href="site.css">

		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-ui-grid/ui-grid.min.js"></script>
		<script src="bower_components/jquery/dist/jquery.min.js"></script>    
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
		<script src='bower_components/ngMask/dist/ngMask.min.js'></script>

    	<script src="app/appPeoficial.js"></script>
    	<script src="app/appConfig.js"></script>

	</head>

	<body ng-controller="ctlPeoficial">

		<header>
            <div htmlmenu></div>
		</header>

		<main>
			<div class="container">
			<h2>Relatório - P.E. Oficial</h2><br>

				<div class="form-group">
						<label for="codigo">Ano Inicial</label>
						<input type="text" maxlength="4" value="2016" ng-model="parametro.anoini" class="form-control hint" id="anoini" data-toggle="tooltip" title="Informe o Ano inicial" placeholder="Digite o ano inicial">
				</div>
				<div class="form-group">
						<label for="ano">Ano Final</label>
						<input type="text" maxlength="4" value="2015" ng-model="parametro.anofin" class="form-control hint" id="anofin" data-toggle="tooltip" title="Informe o Ano final" placeholder="Digite o ano final">
				</div>
				<button type="button" ng-click="printPeoficial()" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Imprime</button>
			</div>
		</main>

		<footer>
			  <div htmlversao></div>
		</footer>		

	</body>
</html>
